
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style type="text/css">
  	body{
  		padding-top: 15%;
		  padding-bottom: 40px;
  	}
  </style>
</head>

<body>
<div>
  <div id="log_header">
    <img src="../images/home_image.gif"><br/>
    숙명 교육 원가 분석
  </div>
  <form class="form-login" action="/" method="post">
    <h2 class="login_header">LOGIN</h2>
    <input type="text" class="login_input" name="log_id" placeholder="ID" required autofocus>
    <input type="password" class="login_input" name="log_pw" placeholder="Password" required></br>
    <p style="font-size: 10pt; color: lightgrey; float: right; margin: 0; margin-bottom: 5pt;">@copyright by gy mj</p>
    <button type="submit" class="login_btn">Log In</button>
    <script>

    </script>
  </form>
</div>
</body>

</html>
