<div id="index_section">
	<h1>a</h1>
	<h2>b</h2>
	<p>위의 조건문에서 IE9버전 이하의 버전인 경우 HTML5의 태그들을 인식하지 못하여 CSS를 적용하지 못하므로 인식할 수 있는 작업을 미리 해두고 있는 것이다. 만약 IE9이상 버전이거나 다른 브라우져면 위의 소스는 주석으로 인식하고 무시하게 된다. 이 라이브러리 안에서 어떠한 일을 하는지까지는 너무 깊이 내려가는 것이므로 여기서는 다루지 않겠지만, 직접 파고 들어가보는 것도 재미있을 것이다.</p>
</div>
