<div id="index_section">
	<div id="main_page">
	<img style="margin-left: auto;" src="../images/main_image.gif">
	<!--<p>test file upload</p>
	<form action="/upload", method="post", enctype="multipart/form-data">
		<input type="file" name="uploadFile">
		<input type="submit" name="Upload" value="upload">
	</form>-->
	</div>
</div>
