<a id="index_a" href='javascript:void(0)' onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';>▶</a><div id="index_nav" style='display:block'>
  <ul>
      <li><a href="#"><b>교육 원가</b></a></li>
      <ul>
        <li><a href="#">수입</a></li>
        <li><a href="#">지출</a></li>
      </ul>
    </ul>
</div>