
<div id="index_div" class="label">
  <p>▶</p>
</div>
<div id="index_nav" class="elements">
  
  <ul>
    <b><li><a id="show" href="/" onclick="javascript:showOff()">기초값 세팅</a></li></b>
    <ul>
      <b><li><a href="baebu">배부동인량</a></li></b>
      <li><a href="buseo">부서코드집</a></li>
      <li><a href="pyeojun">표준부서</a></li>
      <li><a href="bonbu">본부부서기준집</a></li>
      <li><a href="jaehak">재학생수</a></li>
      <li><a href="junlim">전임교원수</a></li>
      <li><a href="hakbu">학부개설과목학점</a></li>
      <li><a href="jang">장애학생수</a></li>
      <li><a href="hakgua">학과집행액</a></li>
      <li><a href="kyojik">교직이수자수</a></li>
      <li><a href="jasan">자산보유건수</a></li>
      <li><a href="hosil">호실자료 피벗</a></li>
      
      <li><a href="haksang">학생별 전공선택 현황</a></li>
    </ul>
  </ul>

  <ul>
        <b><li><a href="/">수입</a></li></b>
        <ul>
        <li><a href="plus">등록금납입</a></li>
          <ul>
            <li><a href="p_hakbu">재학생</a></li>      
            <li><a href="p_time">시간제</a></li>
          </ul>
        </ul>
        <b><li><a href="#">지출</a></li></b>
  </ul>

</div>

<script type="text/javascript">
  var elements = document.getElementsByTagName("div");
  
  for (var i = 0; i < elements.length; i++) {
    if (elements[i].className == "elements") {
      elements[i].style.display="block";
    } else if (elements[i].className == "label") {
      elements[i].onclick=switchDisplay;
    }
  }

  function switchDisplay() {
    var parent = this.parentNode;
    var target = parent.getElementsByTagName("div")[2];
    var target1 = parent.getElementsByTagName("div")[3];
    if (target.style.display == "none") {
      target.style.display="block";
      target1.style.width ="75%";
    } else {
      target.style.display="none";
      target1.style.width = "90%";
    }
    return false;
  }

</script>

<!--
<a id="index_a" href='javascript:void(0)' onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';>▶</a><div id="index_nav" style='display:block'>
-->
