<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>SMWU 원가분석</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Terminal+Dosis" />
  	
	<style>
		html, body{
			margin:0; padding: 0;
			height: 100%;
			position: relative;
		}
  </style>
  </head>

  <body>
  	<% include ./header %>
    <% include ./nav %>  	
    <div id="index_section">
      
      <div id="deunglok_main">
        <p style="padding-bottom: 10%;">등록금 납입 메인 페이지 입니다.</p><br><br><br>

        <a id="block_a" href="p_hakbu" style="border: 1px solid black; margin-right: 5%; padding: 8% 9%; background-color: black; font-weight: bolder; color: white; font-size: 1.5em;">재학생</a>
        <a id="block_a" href="p_time" style="border: 1px solid black; padding: 8% 6%; background-color: black; font-weight: bolder; color: white; font-size: 1.5em;">시간제 등록생</a>

 
    </div>
  </body>
  
</html>
