
<div id="index_div" class="label">
  <p>▶</p>
</div>
<div id="index_nav" class="elements">
  
  <ul>
  	<b><li><a id="show" href="#" onclick="javascript:showOff()">기초값 세팅</a></li></b>
  	<ul>
  		<li><a href="content/main">학점이수표</a></li>
  		<li><a href="#">분석단위표</a></li>
  		<li><a href="#">연계전공표</a></li>
  		<li><a href="#">부서코드집</a></li>
  		<li><a href="#">표준부서</a></li>
  		<li><a href="#">본부부서기준집</a></li>
  		<li><a href="#">재학생수</a></li>
  		<li><a href="#">학부개설과목학점</a></li>
  		<li><a href="#">학과집행액</a></li>
  		<li><a href="#">교직이수자수</a></li>
  		<li><a href="#">자산보유건수</a></li>
  		<li><a href="#">학생별 전공선택 현황</a></li>
  	</ul>
  </ul>

  <ul>
        <b><li><a href="#">수입</a></li></b>
        <ul>
	  		<li><a href="#">등록금납입</a></li>
	  			<ul>
	  				<li><a href="#">재학생</a></li>			
	  				<li><a href="#">시간제</a></li>
	  			</ul>
        </ul>
        <b><li><a href="#">지출</a></li></b>
  </ul>

</div>

<script type="text/javascript">
  var elements = document.getElementsByTagName("div");
  
  for (var i = 0; i < elements.length; i++) {
    if (elements[i].className == "elements") {
      elements[i].style.display="block";
    } else if (elements[i].className == "label") {
      elements[i].onclick=switchDisplay;
    }
  }

  function switchDisplay() {
    var parent = this.parentNode;
    var target = parent.getElementsByTagName("div")[2];
    var target1 = parent.getElementsByTagName("div")[3];
    if (target.style.display == "none") {
      target.style.display="block";
      target1.style.width ="75%";
    } else {
      target.style.display="none";
      target1.style.width = "90%";
    }
    return false;
  }

</script>

<!--
<a id="index_a" href='javascript:void(0)' onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';>▶</a><div id="index_nav" style='display:block'>
-->
